{% extends 'base.html' %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<div class="row profile-page-wrapper">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title mb-4">Редактировать профиль</h3>

                <form method="post" enctype="multipart/form-data" class="profile-edit-form">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Имя</label>
                        {{ form.first_name }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Фамилия</label>
                        {{ form.last_name }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Телефон</label>
                        {{ form.phone }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">О себе</label>
                        {{ form.bio }}
                    </div>
                    <label>
                        <span>Теги</span>
                        <input type="text" name="tags_input" placeholder="#тег1 #тег2"
                               value="{% for tag in user.tags.all %}#{{ tag.name }} {% endfor %}">
                        <small>Вводите через пробел с #</small>
                    </label>
                    <div class="mb-3">
                        <label class="form-label">Аватар</label>
                        {{ form.avatar }}
                        <label for="{{ form.avatar.id_for_label }}" class="input-file-upload-button btn btn-primary w-100 mt-2">
                            Выбрать файл
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

            {% endblock %}